HOST=0.0.0.0
PORT=1337
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
# Database generated with Strapi
DATABASE_CLIENT=
DATABASE_FILENAME=
JWT_SECRET=
# PostgreSQL with Supabase.io
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=